.ContextPopupContent {

    font-size: 0.75rem;
    
    &__Key {

        vertical-align: top;
        font-weight: bold;
        color: #444;
    }
    
    &__Value {

        font-weight: bold;
        color: #768;
    }
    
    &__Separator {
    
        height: 0.25rem;
        border-bottom: dotted 1px black;
    }
    
    &__PostSeparator {
    
        height: 0.25rem;
    }

    &__Header {

        color: #86D;
    }
}