.context-popup-content {

    font-size: 0.75rem;
    
    &__key {

        vertical-align: top;
        color: #444;
    }
    
    &__value {

        color: #768;
    }
    
    &__separator {
    
        height: 0.25rem;
        border-bottom: dotted 1px #CCC;
    }
    
    &__post-separator {
    
        height: 0.25rem;
    }

    &__header {

        color: #86D;
    }
}