.input-pane {

    display: flex; 
    flex-basis: 100%;

    &__textarea {

      overflow: hidden;

      > div {
        height: 1.25rem;
      }
    }
  }
  
  .App--darkmode {

    .input-pane {

      .textarea {

        color: darken(aquamarine, 40%);
      }
    }
  }