.output-pane {

    display: flex;  
    flex-basis: 100%;

    &__textarea {
      
      flex-grow: 1;
    }    
  
    &__value {
  
      overflow: hidden;
    }

    .ln0,
    .ln1 {

      min-height: 1.25rem;
    }

    .ln0 {
      color: #000044;
    }
  
    .ln1 {
      color: #008888;  
    }
  }