.output-pane {

    display: flex;  
    flex-basis: 100%;

    &__textarea {
      
      flex-grow: 1;
    }    
  
    &__value {
  
      overflow: hidden;
    }
  
    > div > div > div {
  
      min-height: 1.25rem;
      color: #000044;

      &:nth-child(2n) {
        color: #008888;
      }
    }
  }