$border-width: 0.0625rem;

.h1 {
  text-align: center;
}
  
.string-tools {
  background-color: #dddddd;
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
  box-sizing: border-box;  
  padding-left: $border-width;
  padding-right: $border-width;

  &__top_section {
    display: flex;
    flex-direction: row;
  }

  &__textarea {
    box-sizing: border-box;
    padding: 0.5rem;
    font-family: 'Inconsolata', monospace;
    font-size: 0.875rem;
    line-height: 1.125rem;
    background-color: white;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
  }
}

.code-window,
.explain-window {
  margin: 0 0 $border-width;
  box-sizing: border-box;
  height: 16rem;
}

.code-window {
  position: relative;
  width: 40%;
  margin-right: $border-width;

  &__overlay {
    opacity: 0.5;
    color: chartreuse;
  }
}

.output-pane {
  position: relative;
  width: 40%;
  margin-right: $border-width;

  &__value {
    color: rgb(1, 1, 82);
  }

  &__overlay {
    padding-left: 0.6rem;
    color: rgb(82, 214, 231);
  }

  &--has-dividing-lines {

    .pane-textarea {
      line-height: 1.5;
    }

    .output-pane__overlay {
      padding-top: 0.0625rem;
    }

    .output-pane__value {
      padding-top: 0.75rem;
    }
  }
}

.explain-window {
  flex-grow: 1;

  &__textarea {
    color: darkred;
  }
}

.panes-container {
  display: flex;
}

.textarea-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none; /* Ignore clicks on the overlay; let them bubble up to the code window text area. */
}

.pane {
  width: 50%;
  box-sizing: border-box;
  height: 41rem;

  &--left {
      margin-right: $border-width;
  }
}