$border-width: 0.0625rem;

html,
#root,
body, 
.App, 
.string-tools {

  height: 100%;
  overflow-x: hidden;
}

.h1 {

  text-align: center;
}

.u-hidden {

  display: none;
}
  
.string-tools {

  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
  box-sizing: border-box;  

  &__top-section {

    display: flex;
    flex-direction: row;
  }

  &__top-section-border {

    width: 100%;
    height: $border-width;
    min-height: $border-width;
    border-top: $border-width #fff solid;
    border-bottom: $border-width #fff solid;
    background-color: #aaa;
    cursor: ns-resize;
  }

  &__popup-links {

    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0.625rem;
    right: 1.5rem;
    width: 6.5rem;
    z-index: 1;
  }
}

.popup-links {

  &__link {
    
    border-bottom: dotted 1px rgb(228, 239, 245);
    cursor: pointer;
    color: cadetblue;
    font-family: monospace;
  }

  &__separator {

    margin: 0 0.25rem;
    color: #AAD;
  }
}

.string-tools {

  &__code-window-container {

    position: relative;
    display: flex;
    flex-shrink: 0;
    
    box-sizing: border-box;
  }

  &__code-window-border {

    width: $border-width;
    min-width: $border-width;
    height: 100%;
    
    border-left: $border-width #fff solid;
    border-right: $border-width #fff solid;
    background-color: #aaa;
    cursor: ew-resize;
  }

  &__explain-window-container {

    display: flex;
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
  }
}

.panes-container {

  display: flex;
  flex-grow: 1;
  max-height: 20rem;
}

.string-tools {

  &__input-pane-container {
    
    display: flex;
    flex-shrink: 0;
  }

  &__input-pane-border {
  
    width: $border-width;
    min-width: $border-width;
    height: 100%;
    
    border-left: $border-width #fff solid;
    border-right: $border-width #fff solid;
    background-color: #aaa;
    cursor: ew-resize;
  }

  &__output-pane-container {

    display: flex;
    flex-grow: 1;
    // flex-basis: 100%;
  }
}

.pane {

  box-sizing: border-box;

  // &--focussed {
  //   outline: solid 2px lightblue;
  // }
}