$border-width: 0.0625rem;

html,
#root,
body, 
.App, 
.string-tools {
  height: 100%;
}

.h1 {
  text-align: center;
}
  
.string-tools {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
  box-sizing: border-box;  
  padding-left: $border-width;
  padding-right: $border-width;

  &__top-section {
    display: flex;
    flex-direction: row;
  }

  &__top-section-border {

    width: 100%;
    height: 1px;
    border-top: 3px #fff solid;
    border-bottom: 3px #fff solid;
    background-color: #aaa;
    cursor: ns-resize;
  }

  &__textarea {
    box-sizing: border-box;
    padding: 0.5rem;
    font-family: 'Inconsolata', monospace;
    font-size: 0.875rem;
    line-height: 1.125rem;
    white-space: pre;
    background-color: white;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
  }
}

.string-tools {
  &__code-window-container {

    display: flex;
    
    box-sizing: border-box;

    width: 40%;
  }

  &__code-window-border {

    width: 1px;
    height: 100%;
    
    border-left: 3px #fff solid;
    border-right: 3px #fff solid;
    background-color: #aaa;
    cursor: ew-resize;
  }

  &__explain-window-container {

    display: flex;
    box-sizing: border-box;
    
    flex-grow: 1;
  }
}

.code-window {

  position: relative;
  width: 100%;

  &__overlay {
    opacity: 0.5;
    color: chartreuse;
  }
}

.explain-window {

  width: 100%;

  &__textarea {
    color: darkred;
  }
}

.output-pane {
  position: relative;
  width: 40%;
  margin-right: $border-width;

  &__value {

    overflow: auto;
  }

  &__text-group {

    margin-bottom: 0.125rem;
    padding-bottom: 0.125rem;
  }

  &__text-item {

    min-height: 1rem;
    white-space: pre;
    color: rgb(1, 1, 82);

    &:last-child {
      border: none;
    }

    &--light div {
      color: #008888;
    } 

    &--dark div {
      color: #000044;
    }
  }
}

.output-value__text-item--light {
  color: #008888;
}

.panes-container {
  display: flex;
  flex-grow: 1;
}

.textarea-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none; /* Ignore clicks on the overlay; let them bubble up to the code window text area. */
}

.pane {
  width: 50%;
  flex-grow: 1;
  box-sizing: border-box;

  &--left {
      margin-right: $border-width;
  }
}